.apartment {
    width: 24%;
    height: auto;
    margin: 20px 12px;

    img {
        width: 100%;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }
    h3 {
        color: #001B3B;s

        &:hover {
            cursor: pointer;
        }
    }
    p {
        font-size: 0.9em;
    }
    
    // margin: 0 auto; - centrira se element
   
}